body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 100vh;
    width: 100%;
}

.navigation-links a {
    display: block;
    color: blue;
    text-decoration: none;
    margin-top: 5px;
}

.whatsapp-link img {
    vertical-align: middle;
    margin-left: 5px;
}

.current-location-marker {
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
